<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GILDEROSE</title>
  </head>
  <body style=" background-color: #C9CE70; background-size: 100%, 100% auto;">
    <h1 style="text-align: center;">GILDEROSE</h1>
    <table style="width: 100%" border="1">
      <tbody>
        <tr>
          <td>
            <h1 style="text-align: center;">Shop Balance</h1>
            <p th:text="{Balance}"/>
          </td>
          <td style="text-align: center;">
            <div>
              <h1>FIND ITEM</h1>
            </div>
            <form action="#" th:action="@{/Item}" th:object="${com.gildedrose.core.domain.item.Item}" method="post">
              <div>Item : <input name="Item" type="text" th:field="*{itemName}"></div>
              <div> Quality: <input name="Quality" type="number" th:field="*{quality}"></div>
              <input value="Submit" type="submit">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width: 100%" border="1">
      <tbody>
        <tr>
          <td>
            <h1 style="text-align: center;">SHOP INVENTORY</h1>
          </td>
        </tr>
      </tbody>
    </table>
    
  </body>
</html>
